language: rust
rust:
  - stable

matrix:
  include:
    - os: linux
      dist: trusty
    - os: osx

env:
  - GTK=3.18

addons:
  apt:
    packages:
      - libgtk-3-dev

cache:
  cargo: true

before_install:
  - . ci/before_install.sh

script:
    - export GETTEXT_SYSTEM=1
    - rustc --version
    - cargo build
    - cargo test
    - cargo build --all-features
