language: rust
rust:
  - nightly

matrix:
  include:
    - os: linux
      dist: trusty
    - os: osx

addons:
  apt:
    packages:
      - libgtk-3-dev

cache:
  cargo: true

before_install:
  - . ci/before_install.sh

script:
    - rustc --version
    - cargo build
    - cargo test
    - cargo build --all-features
