[Desktop Entry]
Name=media-toc
Comment=Build a table of contents from a media file or split a media file into chapters.
GenericName=Media Table Of Contents manager
Exec=media-toc
Icon=org.fengalin.media-toc
Type=Application
StartupNotify=true
X-GNOME-UsesNotifications=true
Categories=GStreamer;GTK;Multimedia;
Keywords=Multimedia;table of contents;